{% load i18n apphooks_config_tags cms_tags sekizai_tags staticfiles thumbnail%}
<article class="col m4 s12 wow fadeInUp">
    <div class="blog-head hoverable">
        {% if article.featured_image_id %}
            {% if not detail_view %}
                <a href="{{ article.get_absolute_url }}">
            {% endif %}
                <img class="responsive-img" src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}"/>
            {% if not detail_view %}
                </a>
            {% endif %}
        {% endif %}
    </div>
        <div class="blog-body">
            <span class="card-title">
        {% if not detail_view %}
            <h4><a class="card-color" href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% render_model article "title" %}</a></h4>
        {% else %}
            {% render_model article "title" %}
        {% endif %}
      </span>
    </div>

    <div class="blog-bottom">
      {% if not detail_view %}
      {% if article.categories %}
        <p class="category ">
            {% for category in article.categories.all %}
                <a href="{% namespace_url 'article-list-by-category' category.slug namespace=namespace default='' %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}
        <p>
            {% render_model article "lead_in" "" "" "truncatewords_html:'20'" %}
        </p>
        {% endif %}
    </div>
</article>
{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'css/aldryn-newsblog/article.css' %}">{% endaddtoblock %}
