{% extends "aldryn_events/base.html" %}
{% load i18n thumbnail cms_tags apphooks_config_tags sekizai_tags tz %}

{% block events_content %}

    {% include "aldryn_events/includes/event_open.html" with detail_view="true" %}


<div class="container">


    {% if event.enable_registration %}
        {% include "aldryn_events/includes/registration.html" %}
    {% endif %}

    <div class=" container aldryn-newsblog-pager center-align">
      <ul class="pager bottom-links center-align valign-wrapper">
        {% if prev_event %}
            <li class="previous"><a href="{{ prev_event.get_absolute_url }}">{% trans "Previous Event" %}</a></li>
        {% endif %}
        <li class="back"><a href="{% namespace_url 'events_list' namespace=view.namespace %}">{% trans "Back to Overview" %}</a></li>
        {% if next_event %}
            <li class="next"><a href="{{ next_event.get_absolute_url }}">{% trans "Next Event" %}</a></li>
        {% endif %}
      </ul>
    </div>
    {% if event.detail_link %}
        <p>
            <a href="{{ event.detail_link }}">{% trans "More information" %}</a>
        </p>
    {% endif %}
    <div id="disqus_thread">
    {% static_placeholder 'comments' %}
    </div>


</div>
<div class="info">

    <h5><i class="material-icons">date_range</i> {{ event.start_date|date:"l, j F" }}</h5>
    {% if event.location %}
    <p class="center-align"><i class="material-icons">place</i> {{ event.location }}</p>
    {% endif %}
    {% if event.register_link %}

            <a href="{{ event.register_link }}" target="_blank"><button class="buy link waves-effect waves-light">{% trans "Buy ticket" %}</button></a>

    {% else %}
        <a href="/"><button class="buy link2 waves-effect waves-light red">{% trans "Charities" %}</button></a>
    {% endif %}

</div>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://http-167-99-3-132.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}
